<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>controller.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>controller.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccount</servlet-name>
        <servlet-class>controller.LoadAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>controller.EditAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleFilterServlet</servlet-name>
        <servlet-class>controller.RoleFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerTutor</servlet-name>
        <servlet-class>controller.ManagerTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCourse</servlet-name>
        <servlet-class>controller.ManagerCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTutor</servlet-name>
        <servlet-class>controller.AddTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveTutor</servlet-name>
        <servlet-class>controller.ApproveTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTutor</servlet-name>
        <servlet-class>controller.DeleteTutor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/manageruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/addaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccount</servlet-name>
        <url-pattern>/loadaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/editaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleFilterServlet</servlet-name>
        <url-pattern>/rolefilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerTutor</servlet-name>
        <url-pattern>/managertutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCourse</servlet-name>
        <url-pattern>/managercourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTutor</servlet-name>
        <url-pattern>/addtutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveTutor</servlet-name>
        <url-pattern>/approveTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTutor</servlet-name>
        <url-pattern>/deleteTutor</url-pattern>
    </servlet-mapping>
</web-app>
